* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 30%;
}

.container {
    background-color: rgb(226, 223, 223);
    margin: 4rem auto;
    width: 30%;
    aspect-ratio: 1;
}

.elements {
    margin: 4% 4% 2% 4%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.numbers-container {
    background-color: rgb(186, 186, 204);
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.operators-container {
    background-color: rgb(221, 221, 200);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
}

.results-container {
    margin: 2% 4% 4% 4%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.numbers {
    background-color: rgb(221, 221, 200);
    border-radius: 1rem;
    margin: 3%;
    height: 20%;
    width: 20%;
    font-size: 2vw;
    font-weight: 300;
}

.operators {
    background-color: rgb(186, 186, 204);
    border-radius: 1rem;
    margin: 3%;
    height: 15%;
    width: 51%;
    font-size: 2vw;
    font-weight: 300;
}

.results {
    flex: 1 1;
    background-color: rgb(221, 221, 200);
    color: rgb(126, 126, 139);
    border-radius: 1rem;
    height: 60%;
    margin: auto;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
}

.clear {
    background-color: rgb(186, 186, 204);
    color: rgb(221, 221, 200);
    border-radius: 1rem;
    margin-right: 0;
    height: 40%;
    width: 30%;
    font-size: 1vw;
}

.clear:hover,
.numbers:hover,
.operators:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.clear:active,
.numbers:active,
.operators:active {
    box-shadow: inset 1px 1px 1px #000000;
}

.border-grey {
    border: 2px solid rgb(175, 173, 173);
    border-radius: 1rem;
}

@media (max-width: 1200px) {
    .container {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .container {
        width: 80%;
    }

    .numbers {
        font-size: 3vw;
    }

    .operators {
        font-size: 3vw;
    }

    .results {
        font-size: 4vw;
    }

    .clear {
        font-size: 2vw;
    }
}