* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 30%;
    border: none;
}

.alert-container,
.container {
    background-color: rgb(226, 223, 223);
    margin: 4rem auto;
    width: 30%;
}

.container {
    aspect-ratio: 1;
}

.elements {
    margin: 4% 4% 2% 4%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.numbers-container {
    background-color: rgb(186, 186, 204);
    flex: 1;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.operators-container {
    background-color: rgb(221, 221, 200);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
}

.results-container {
    margin: 2% 4% 4% 4%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.numbers {
    background-color: rgb(221, 221, 200);
    border-radius: 1rem;
    margin: 3%;
    height: 20%;
    width: 20%;
    font-size: 2vw;
    font-weight: 300;
}

.operators {
    background-color: rgb(186, 186, 204);
    border-radius: 1rem;
    margin: 3%;
    height: 15%;
    width: 51%;
    font-size: 2vw;
    font-weight: 300;
}

.operator {
    width: 18%;
}

.results {
    width: 100%;
    flex: 1 1;
}

.operator,
.results {
    background-color: rgb(221, 221, 200);
    color: rgb(126, 126, 139);
    border-radius: 1rem;
    height: 60%;
    margin: auto;
    font-size: 3vw;
    font-weight: bold;
}

.alert-text {
    font-size: 2.3vw;
    color: rgb(179, 59, 59);
    padding: 0.5rem;
    text-align: center;
}

.clear:hover,
.numbers:hover,
.operators:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.clear:active,
.numbers:active,
.operators:active {
    box-shadow: inset 2px 2px 2px rgb(102, 101, 101);
}

button,
.border-grey {
    border: 2px solid rgb(175, 173, 173);
    border-radius: 1rem;
}

@media (max-width: 1200px) {

    .alert-container,
    .container {
        width: 50%;
    }
}

@media (max-width: 800px) {

    .alert-container,
    .container {
        width: 80%;
    }

    .alert-text,
    .numbers,
    .operators {
        font-size: 3vw;
    }

    .results {
        font-size: 4vw;
    }
}

@media (max-width: 300px) {

    .alert-text,
    .numbers,
    .operators {
        font-size: 4vw;
    }

    .results {
        font-size: 5vw;
    }
}